.button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
}

.card {
  display: inline-block;
  max-width: 300px;
}
.card .card__img {
  border-radius: 20px;
  width: 298px;
  height: 200px;
}
.card div .card__date {
  margin: 5px;
  font-weight: 400;
  font-size: 16px;
}
.card div .card__tittle {
  margin: 5px;
  font-weight: 700;
  font-size: 20px;
}
.card div .card__logo {
  display: flex;
  align-items: center;
}
.card div .card__logo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.card div .card__logo span {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
}
.logo .logo__img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  padding: 5px;
}
.logo .logo__text {
  margin-left: 20px;
  font-weight: 700;
  font-size: 24px;
}

.widget {
  margin: 10px auto;
  width: 300px;
  height: 89px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.widget__img {
  height: 100%;
  position: relative;
  float: left;
}
.widget__title {
  font-size: 32px;
  position: relative;
  float: right;
  margin-right: 30px;
  color: #fff;
  font-weight: bold;
}

#html {
  background-color: #E93E30;
}

#js {
  background-color: #F7E018;
}

#css {
  background-color: #299ED5;
}

#react {
  background-color: #292C33;
}

#vue {
  background-color: #67C770;
}

#bootstrap {
  background-color: #563D7C;
}

.form {
  margin-inline-start: 10%;
  width: 80%;
  height: 60%;
  border-radius: 5px;
  padding: 1px;
}
.form__title {
  text-align: center;
}
.form__container {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  align-items: center;
}
.form__input-text {
  width: 50%;
  padding: 12px 20px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #5D6163;
  border-radius: 4px;
  box-sizing: border-box;
}
.form .button {
  width: 50%;
  margin: 10px;
}
.form .button--primary {
  background-color: #67C770;
  color: #fff;
}
.form .button--secondary {
  background-color: #fff;
  color: #000;
  border: 1px solid #5D6163;
}

.main {
  position: relative;
  width: 750px;
  margin-top: 20px;
  display: inline-block;
}
.main__title {
  font-size: 28px;
  margin: 0px 0px 20px 5%;
  color: #171717;
}
.main__novedades .card {
  max-width: 605px;
}
.main__novedades .card__img {
  width: 603px;
  height: 314px;
  border-radius: 20px;
}
.main__novedades .card__date {
  font-size: 18px;
  font-weight: 400;
}
.main__novedades .card__tittle {
  font-size: 24px;
  font-weight: 700;
}
.main__novedades .card__logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.main__novedades .card__logo span {
  font-size: 24px;
  font-weight: 500;
}

.footer {
  display: flex;
  float: left;
  width: 100%;
  margin: 20px 0;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: relative;
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.aside {
  position: relative;
  float: right;
  margin: 20px auto;
  width: 450px;
}
.aside__novedades .card {
  max-width: 430px;
  display: flex;
}
.aside__novedades .card__img {
  width: 190px;
  height: 145px;
}
.aside__novedades .card div {
  padding-left: 21px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 10px auto;
}/*# sourceMappingURL=main.css.map */