.aside{
    position: relative;
    float: right;
    margin: 20px auto;
    width: 450px;
    &__novedades{
        .card{
            max-width: 430px;
            display: flex;
                &__img{
                    width: 190px;
                    height: 145px;
                }
                div{
                    padding-left: 21px;
                }
        }
    }
}